*.cpython*
/sources/java/*.class
/tutorial/workspace/*
!/tutorial/workspace/README.md
/RemoteSystemsTempFiles
/scripts/build.txt
/system/loadlib
/system/catalog/*
!/system/catalog/README.md
/system/logs/*
!/system/logs/README.md
/system/rdef/*
!/system/rdef/README.md
/tutorial/BANKDEMO_*
/tutorial/BANKDEMO.xml
/tutorial/BANKDEMO.xml.bak
/tutorial/projects/Studio/cobol/.vs/BankDemo
/tutorial/projects/Studio/cobol/Bankdemo/obj
/tutorial/projects/Studio/cobol/Bankdemo/*.dep
/tutorial/projects/Studio/pli/.vs/BankDemo
/tutorial/projects/Studio/cobol/Bankdemo/obj
/tutorial/projects/Studio/pli/bankmain/bin
/tutorial/projects/Studio/pli/bankmain/obj
/tutorial/projects/Studio/pli/bankmain/*.def
/tutorial/projects/Studio/pli/bankmain/*.del
/tutorial/projects/Studio/pli/fetchables/bin
/tutorial/projects/Studio/pli/fetchables/obj
/tutorial/projects/Studio/pli/fetchables/*.def
/tutorial/projects/Studio/pli/fetchables/*.del
/projects/**/generated
/projects/**/loadlib
/projects/**/obj
/projects/**/bin
/projects/**/.cobolBuild
/tutorial/projects/**/.cobolBuild
/projects/**/*.dep
/BANKDEMO
/BANKVSAM
/BANKSQL
/BANKMFDB
/BANKPAC1
/BANKPAC2
/sources/Listing
/sources/generated
.terraform*
terraform.tfstate*
/.metadata/
